apiVersion: kpack.io/v1alpha1
kind: Image
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: '{"kind":"Image","apiVersion":"kpack.io/v1alpha1","metadata":{"name":"springone-message-board-service","namespace":"springone-message-board","creationTimestamp":null},"spec":{"tag":"gcr.io/fe-ciberkleid/springone/springone-message-board-service","builder":{"kind":"ClusterBuilder","name":"base"},"serviceAccount":"default","source":{"git":{"url":"https://github.com/springone-2021-testcontainers/springone-message-board-service","revision":"main"}},"build":{"env":[{"name":"BP_MAVEN_BUILD_ARGUMENTS","value":"package"},{"name":"DOCKER_HOST","value":"tcp://docker:80"}],"resources":{}}},"status":{}}'
  creationTimestamp: null
  name: springone-message-board-service
  namespace: springone-message-board
spec:
  build:
    env:
    - name: BP_MAVEN_BUILD_ARGUMENTS
      value: package
    - name: DOCKER_HOST
      value: tcp://docker:80
    resources: {}
  builder:
    kind: ClusterBuilder
    name: base
  serviceAccount: default
  source:
    git:
      revision: main
      url: https://github.com/springone-2021-testcontainers/springone-message-board-service
  tag: gcr.io/fe-ciberkleid/springone/springone-message-board-service
status: {}
